<div *ngIf="Data" class="grid p-5 gap-0">
    <div class="flex flex-col gap-0 mb-3">
        <p class="text-lg font-semibold">
            {{ UserData.lokasi.nama_lokasi }}
        </p>

        <p class="text-base mb-5">
            {{ UserData.lokasi.alamat | titlecase }}
        </p>

        <p class="text-sm text-center mb-5">
            Report Croscek Tutup Kasir
        </p>

        <!-- Waktu Tutup Kasir -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Waktu Tutup Kasir
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.tanggal_tutup_kasir }}
                </p>
            </div>
        </div>

        <!-- Waktu Tutup Kasir -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Waktu Croscek Tutup Kasir
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.tanggal_kroscek_tutup_kasir }}
                </p>
            </div>
        </div>

        <!-- Nama Kasir -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Nama Kasir
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.kasir }}
                </p>
            </div>
        </div>

        <!-- Ket. Tutup Kasir -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Ket. Tutup Kasir
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.keterangan_tutup_kasir }}
                </p>
            </div>
        </div>

        <!--  Alamat Supplier -->
        <div class="flex w-full gap-2 mb-3">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Ket. Croscek
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.keterangan_kroscek }}
                </p>
            </div>
        </div>

        <!--  Pendapatan V. Sistem -->
        <div class="flex w-full gap-2 pt-3 mt-3 border-t border-dashed border-b-0 border-x-0 border-gray-800">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Pendapatan Versi Sistem
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ _utilityService.FormatNumber(Data.pendapatan_versi_system, 'Rp. ') }}
                </p>
            </div>
        </div>

        <!--  Pendapatan V. Sistem -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Pendapatan Versi Kasir
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ _utilityService.FormatNumber(Data.pendapatan_versi_user, 'Rp. ') }}
                </p>
            </div>
        </div>

        <!--  Selisih -->
        <div class="flex w-full gap-2 mb-4">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Selisih
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ _utilityService.FormatNumber(Data.selisih, 'Rp. ') }}
                </p>
            </div>
        </div>
    </div>

    <div class="grid mb-5">
        <app-print-out-grid [props]="GridProps"></app-print-out-grid>
    </div>

    <!-- Footer -->
    <div class="flex flex-row justify-center w-full px-3">
        <div class="w-8/12 flex flex-col justify-end items-end pr-3">
            <div class="flex flex-row gap-10">
                <div class="flex flex-col items-center justify-center gap-0">
                    <p class="text-xs text-gray-700">
                        {{ UserData.lokasi.nama_lokasi }},
                        {{ _utilityService.FormatDate(Data.created_at, 'DD MMMM yy') }}
                    </p>

                    <p class="text-xs text-gray-700 mb-20">
                        Mengetahui
                    </p>

                    <p class="text-xs text-gray-700">
                        (_________________)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>