<div *ngIf="Data" id="printMutasiMasuk" class="grid p-5 gap-0">
    <div class="flex flex-col gap-0 mb-3">
        <p class="text-lg font-semibold text-center">
            Repacking
        </p>

        <!-- Faktur PO -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    No. Faktur
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.nomor_repacking }}
                </p>
            </div>
        </div>

        <!-- Tanggal PO -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Tanggal Repacking
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.tanggal_repacking }}
                </p>
            </div>
        </div>

        <!-- Tanggal Kirim -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Warehouse
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.warehouse }}
                </p>
            </div>
        </div>

        <!-- Tanggal Kirim -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Kode Barang
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.kode_barang }}
                </p>
            </div>
        </div>

        <!-- Tanggal Kirim -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Barcode
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.barcode }}
                </p>
            </div>
        </div>

        <!-- Tanggal Kirim -->
        <div class="flex w-full gap-2">
            <div class="w-3/12">
                <p class="text-xs text-gray-700">
                    Nama Barang
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.nama_barang }}
                </p>
            </div>
        </div>
    </div>

    <div class="grid mb-1">
        <app-print-out-grid [props]="GridProps"></app-print-out-grid>
    </div>

    <!-- Total -->
    <div class="flex flex-row justify-end w-full px-3 mb-1">
        <div class="w-3/12">
            <p class="text-xs text-gray-700 text-end">
                Qty Repacking
            </p>
        </div>
        <div class="w-2/12">
            <p class="text-xs text-gray-700 text-end">
                {{ _utilityService.FormatNumber(Data.qty_repacking, '') }}
            </p>
        </div>
    </div>

    <!-- Total -->
    <div class="flex flex-row justify-end w-full px-3 mb-1">
        <div class="w-3/12">
            <p class="text-xs text-gray-700 text-end">
                Qty Urai
            </p>
        </div>
        <div class="w-2/12">
            <p class="text-xs text-gray-700 text-end">
                {{ _utilityService.FormatNumber(Data.qty_urai, '') }}
            </p>
        </div>
    </div>

    <div class="flex flex-row justify-end w-full px-3 mb-1">
        <div class="w-3/12">
            <p class="text-xs text-gray-700 text-end">
                Hpp Avg Repacking
            </p>
        </div>
        <div class="w-2/12">
            <p class="text-xs text-gray-700 text-end">
                {{ _utilityService.FormatNumber(Data.hpp_avarage_repacking, 'Rp. ') }}
            </p>
        </div>
    </div>

    <div class="flex flex-row justify-end w-full px-3 mb-1">
        <div class="w-3/12">
            <p class="text-xs text-gray-700 text-end">
                Total Hpp Avg Urai
            </p>
        </div>
        <div class="w-2/12">
            <p class="text-xs text-gray-700 text-end">
                {{ _utilityService.FormatNumber(Data.total_hpp_avarage_urai, 'Rp. ') }}
            </p>
        </div>
    </div>

    <!-- Total -->
    <div
        class="flex flex-row justify-end w-full px-3 pb-3 mb-2 border-b border-t-0 border-x-0 border-solid border-gray-700">
        <div class="w-3/12">
            <p class="text-xs text-gray-700 text-end">
                Total Hpp Avg Repacking
            </p>
        </div>
        <div class="w-2/12">
            <p class="text-xs text-gray-700 text-end">
                {{ _utilityService.FormatNumber(Data.total_hpp_avarage_repacking, 'Rp. ') }}
            </p>
        </div>
    </div>

    <!-- Footer -->
    <div class="flex flex-row justify-center w-full px-3">
        <div class="w-8/12 flex flex-col justify-center items-center pr-3">
            <div class="flex flex-row gap-10">
                <div class="flex flex-col items-center justify-center gap-20">
                    <p class="text-xs text-gray-700">
                        Dibukukan
                    </p>

                    <p class="text-xs text-gray-700">
                        (_________________)
                    </p>
                </div>

                <div class="flex flex-col items-center justify-center gap-20">
                    <p class="text-xs text-gray-700">
                        Dikeluarkan Oleh
                    </p>

                    <p class="text-xs text-gray-700">
                        (_________________)
                    </p>
                </div>

                <div class="flex flex-col items-center justify-center gap-20">
                    <p class="text-xs text-gray-700">
                        Diketahui Oleh
                    </p>

                    <p class="text-xs text-gray-700">
                        (_________________)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>