<app-dashboard [props]="DashboardProps" (onClickButtonNav)="handleClickButtonNav($event)">
    <div class="flex mb-3">
        <app-offcanvas-filter [props]="OffcanvasFilterProps" (onSearch)="handleSearchOffcanvas($event)">
        </app-offcanvas-filter>
    </div>
    <div class="grid">
        <div class="flex flex-row justify-end mb-2">
            <div class="w-4/12">
                <input #Keyword type="text" pInputText placeholder="Cari Berdasarkan Kode, Nama atau Barcode"
                    class="w-full p-inputtext-sm" (keyup)="handleSearchClientSide(Keyword.value)">
            </div>
        </div>

        <app-grid [props]="GridProps" (cellClicked)="handleCellClicked($event)"
            (rowDoubleClicked)="handleRowDoubleClicked($event)">
        </app-grid>

        <div *ngIf="!IsAllBarang" class="flex flex-row gap-3">
            <div class="w-4/12">
                <div class="grid w-full mt-5 pt-3 border-t border-b-0 border-x-0 border-dashed border-gray-300">
                    <p class="text-sm text-gray-700 font-medium mb-2">
                        Omset 3 Bulan Terakhir
                    </p>

                    <app-grid [props]="GridStokDanOmsetProps">
                    </app-grid>
                </div>
            </div>
            <div class="w-8/12">
                <div class="grid w-full mt-5 pt-3 border-t border-b-0 border-x-0 border-dashed border-gray-300">
                    <p class="text-sm text-gray-700 font-medium mb-2">
                        History Penerimaan Barang
                    </p>

                    <app-grid [props]="GridPenerimaanBarangProps">
                    </app-grid>
                </div>
            </div>
        </div>
    </div>
</app-dashboard>