<div [id]="props.id" class="flex flex-col">
    <form [formGroup]="CustomForms">
        <div class="grid {{ FormsLayoutClass }} gap-3">
            <div *ngFor="let item of props.fields"
                class="flex {{ props.is_inline ? 'flex-row' : 'flex-col' }} items-center" [class.hidden]="item.hidden">
                <div *ngIf="item.type != 'lookup'" class="{{ props.is_inline ? 'w-4/12' : 'w-full' }}">
                    <label htmlFor="{{ item.id }}" class="mb-2 text-sm">
                        <span *ngIf="item.required" class="text-red-400">*</span>
                        {{ item.label }}
                    </label>
                </div>

                <div class="{{ props.is_inline && item.type != 'lookup'  ? 'w-8/12' : 'w-full' }}">
                    <!-- Input Text -->
                    <input *ngIf="item.type == 'string'" pInputText [id]="item.id" formControlName="{{ item.id }}"
                        style="width: 100%" class="p-inputtext-sm" [readonly]="item.status == 'readonly'"
                        (keyup.enter)="handleKeyupEnterText($event, item)" />

                    <!-- Datepicker -->
                    <p-calendar *ngIf="item.type == 'date' || item.type == 'datetime'" [id]="item.id"
                        formControlName="{{ item.id }}" styleClass="w-full p-inputtext-sm" [showButtonBar]="true"
                        [dateFormat]="'dd MM yy'" [disabled]="item.status == 'readonly'" appendTo="body"
                        [showTime]="item.type == 'datetime' ? true : false"
                        [showSeconds]="item.type == 'datetime' ? true : false">
                    </p-calendar>

                    <!-- Password -->
                    <p-password *ngIf="item.type == 'password'" [id]="item.id" formControlName="{{ item.id }}"
                        [toggleMask]="true" [feedback]="false" styleClass="w-full p-inputtext-sm ">
                    </p-password>

                    <!-- Dropdown -->
                    <p-dropdown *ngIf="item.type == 'select'" appendTo="body" [id]="item.id"
                        formControlName="{{ item.id }}" [options]="item.select_props!" optionValue="value"
                        optionLabel="name" styleClass="w-full p-inputtext-sm" [autoDisplayFirst]="false" [filter]="true"
                        [disabled]="item.status == 'readonly'" (onChange)="handleChangeDropdown(item, $event)">
                    </p-dropdown>

                    <!-- Numeric -->
                    <p-inputNumber *ngIf="item.type == 'numeric' && !item.is_form_grouped"
                        formControlName="{{ item.id }}" styleClass="w-full p-inputtext-sm text-end"
                        (onBlur)="handleChangeNumeric(item, $event)" [disabled]="item.status == 'readonly'"
                        [readonly]="item.status == 'readonly'" [max]="item.numeric_max_number!"
                        (keyup.enter)="handleEnterNumeric(item, $event)">
                    </p-inputNumber>

                    <!-- Numeric Grouped -->
                    <div *ngIf="item.type == 'numeric' && item.is_form_grouped"
                        class="grid grid-rows-1 grid-cols-2 gap-2">
                        <div
                            class="flex {{ item.prefix_position == 'left' ? '' : 'flex-row-reverse' }} items-center gap-1 pr-2 w-full border-r border-y-0 border-l-0 border-solid border-gray-300">
                            <span *ngIf="item.prefix" class="text-sm text-gray-700">
                                {{ item.prefix }}
                            </span>

                            <p-inputNumber *ngIf="item.numeric_mode == 'decimal'" formControlName="{{ item.id }}"
                                styleClass="w-full p-inputtext-sm" (onBlur)="handleChangeNumeric(item, $event)"
                                [mode]="'decimal'" [disabled]="item.status == 'readonly'" [minFractionDigits]="0"
                                [maxFractionDigits]="3" [min]="0.00" [max]="100.00"
                                [readonly]="item.status == 'readonly'">
                            </p-inputNumber>

                            <p-inputNumber *ngIf="item.numeric_mode != 'decimal'" formControlName="{{ item.id }}"
                                styleClass="w-full p-inputtext-sm" (onBlur)="handleChangeNumeric(item, $event)"
                                [disabled]="item.status == 'readonly'" [max]="item.numeric_max_number!"
                                [readonly]="item.status == 'readonly'">
                            </p-inputNumber>
                        </div>

                        <div
                            class="flex {{ item.form_grouped_props?.prefix_position == 'left' ? '' : 'flex-row-reverse' }} items-center gap-1 w-full">
                            <span *ngIf="item.form_grouped_props?.prefix" class="text-sm text-gray-700">
                                {{ item.form_grouped_props?.prefix }}
                            </span>

                            <p-inputNumber formControlName="{{ item.form_grouped_props?.id }}"
                                styleClass="w-full p-inputtext-sm"
                                [readonly]="item.form_grouped_props!.status == 'readonly'"
                                [disabled]="item.form_grouped_props!.status == 'readonly'"
                                (onBlur)="handleChangeNumeric(item.form_grouped_props!, $event)">
                            </p-inputNumber>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div *ngIf="item.type == 'checkbox'" class="flex items-center flex-row gap-3">
                        <div *ngFor="let check of item.checkbox_props" class="flex align-items-center gap-1">
                            <p-checkbox [name]="item.id" [value]="check.value" formControlName="{{ item.id }}"
                                inputId="{{ check.id }}_check">
                            </p-checkbox>

                            <label for="{{ check.id }}_check" class="text-sm">
                                {{ check.name }}
                            </label>
                        </div>
                    </div>

                    <!-- Radio -->
                    <div *ngIf="item.type == 'radio'" class="flex items-center flex-row gap-3">
                        <div *ngFor="let radio of item.radio_props" class="flex align-items-center gap-1">
                            <p-radioButton [inputId]="radio.id" [name]="item.id" [value]="radio.value"
                                formControlName="{{ item.id }}" (ngModelChange)="handleChangeRadioButton(item, $event)">
                            </p-radioButton>
                            <label [for]="radio.id" class="ml-2 text-sm">{{ radio.name }}</label>
                        </div>
                    </div>

                    <!-- Multi Select -->
                    <p-multiSelect *ngIf="item.type == 'multi_select'" [options]="item.select_props!"
                        formControlName="{{ item.id }}" optionLabel="name" styleClass="w-full p-inputtext-sm"
                        [filter]="true" appendTo="body">
                    </p-multiSelect>

                    <!-- Lookup -->
                    <app-lookup *ngIf="item.type == 'lookup'" [props]="item.lookup_props!"
                        (onSelectData)="handleSelectDataLookup(item, $event)">
                    </app-lookup>
                </div>
            </div>
        </div>
    </form>
</div>