<div class="grid w-full fixed z-10 bg-blue-500">
    <p-menubar [model]="items" styleClass="w-full drop-shadow-md" styleClass="bg-blue-500">
        <ng-template pTemplate="start">
            <div class="flex items-center">
                <img src="../../../../../assets/image/coding.png" height="30" class="mr-2" />
                <p class="text-blue-500 text-2xl font-semibold my-0">TRS</p>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex items-center gap-5 mr-">
                <span class="text-sm cursor-pointer" (click)="op.toggle($event)">
                    <i class="pi pi-th-large" style="font-size:13px"></i>
                </span>

                <span (click)="MenuUser.toggle($event)" class="text-sm cursor-pointer">
                    <i class="pi pi-user mr-1" style="font-size:13px"></i>
                    {{ UserData.nama | titlecase }}
                    <i class="pi pi-angle-down mr-1" style="font-size:13px"></i>
                </span>

                <p-menu #MenuUser [model]="userMenu" [popup]="true"></p-menu>
            </div>

        </ng-template>
    </p-menubar>

    <p-overlayPanel #op>
        <div class="flex flex-col items-center w-[25rem]">
            <div
                class="flex items-center justify-center w-full mb-5 pb-3 border-b border-x-0 border-t-0 border-dashed border-gray-300">
                <p class="text-base font-medium text-center  text-gray-700 ">
                    Quick Menu
                </p>
            </div>

            <div class="grid grid-cols-3 gap-5">
                <div *ngFor="let item of MainMenu" class="grid cursor-pointer" (click)="handleClickMainMenu(item)">
                    <div
                        class="flex p-4 shadow rounded-lg items-center justify-center bg-blue-500 mb-2 hover:bg-blue-700 w-[3.25rem] mx-auto">
                        <i class="{{ item.icon }} text-white" style="font-size: 1rem !important"></i>
                    </div>

                    <p class="text-blue-500 text-base text-center font-semibold">
                        {{ item.label }}
                    </p>
                </div>
            </div>
        </div>

    </p-overlayPanel>
</div>