<div class="flex flex-col w-full items-center justify-center p-5 gap-2">
    <p class="text-sm font-bold">
        TEST PRINT
    </p>
    <p class="text-sm font-bold">
        TEST PRINT
    </p>
    <p class="text-sm font-bold">
        TEST PRINT
    </p>
    <p class="text-sm font-bold">
        TEST PRINT
    </p>
    <p class="text-sm font-bold">
        TEST PRINT
    </p>

    <div class="flex justify-end w-full pt-2 mt-2 border-t border-b-0 border-x-0 border-solid">
        Total : Rp. 100,000.00
    </div>
</div>