<app-dashboard [props]="DashboardProps" (onClickButtonNav)="handleClickButtonNav($event)">
    <div class="flex mb-3">
        <app-offcanvas-filter [props]="OffcanvasFilterProps" (onSearch)="handleSearchOffcanvas($event)">
        </app-offcanvas-filter>
    </div>
    <div class="grid">
        <app-grid [props]="GridProps" (cellClicked)="handleCellClicked($event)"
            (rowDoubleClicked)="handleRowDoubleClicked($event)" (toolbarClicked)="handleToolbarClicked($event)">
        </app-grid>
    </div>

    <app-input-mutasi-masuk #InputMutasiMasukComps></app-input-mutasi-masuk>
</app-dashboard>