<p-dialog header="Edit Satuan" [(visible)]="ToggleModal" [modal]="true" [style]="{ width: '20rem' }" [draggable]="false"
    [resizable]="false">
    <div class="grid gap-2">
        <p-dropdown styleClass="p-inputtext-sm w-full" appendTo="body" [filter]="true" [options]="SatuanDatasource"
            optionLabel="kode_satuan">
        </p-dropdown>

        <div class="flex gap-2 justify-end mt-3">
            <p-button styleClass="p-button-secondary p-button-sm" label="Tutup" (onClick)="ToggleModal = false">
            </p-button>

            <p-button styleClass="p-button-info p-button-sm" label="Simpan"></p-button>
        </div>
    </div>
</p-dialog>