<app-dashboard [props]="DashboardProps" (onClickButtonNav)="handleClickButtonNav($event)">
    <p-tabView (onChange)="handleChangeTabView($event)">
        <!-- Detail Barang -->
        <p-tabPanel header="Detail">
            <div class="grid grid-cols-1">
                <app-custom-form #CustomForm [props]="FormInput"></app-custom-form>
            </div>
        </p-tabPanel>

        <!-- Setup Barang Satuan -->
        <p-tabPanel header="Setup Barang Satuan">
            <app-detail-barang-satuan [id_barang]="IdBarang"></app-detail-barang-satuan>
        </p-tabPanel>

        <!-- Setup Barang Rak -->
        <p-tabPanel header="Setup Barang Rak">
            <app-detail-barang-rak [id_barang]="IdBarang"></app-detail-barang-rak>
        </p-tabPanel>

        <!-- Setup Barang Komponen -->
        <p-tabPanel header="Setup Barang Komponen">
            <app-detail-barang-komponen [id_barang]="IdBarang"></app-detail-barang-komponen>
        </p-tabPanel>

        <!-- Setup Barang Urai -->
        <p-tabPanel header="Setup Barang Urai">
            <!-- <app-detail-barang-urai [id_barang]="IdBarang"></app-detail-barang-urai> -->
        </p-tabPanel>
    </p-tabView>
</app-dashboard>