<app-dashboard [props]="DashboardProps" (onClickButtonNav)="handleClickButtonNav($event)">
    <div class="flex w-full mb-5">
        <div class="grid w-full">
            <app-custom-form #CustomForm [props]="FormInputHeader"></app-custom-form>
        </div>
    </div>

    <div class="grid mb-3">
        <app-grid #GridComps [props]="GridProps" (cellClicked)="onCellClicked($event)"
            (toolbarClicked)="onToolbarClicked($event)" (cellFinishEdited)="onCellFinishEditing($event)">
        </app-grid>
    </div>

    <div class="flex w-full justify-between gap-3 mb-5">
        <div class="flex flex-col gap-3 w-4/12">
            <!-- Dengan PPn -->
            <div class="flex w-full">
                <div class="w-4/12">
                    <label>
                        Dengan PPn?
                    </label>
                </div>
                <div class="w-8/12 flex flex-row gap-3">
                    <div class="flex items-center">
                        <p-radioButton name="is_ppn" [value]="true" [(ngModel)]="is_ppn" inputId="is_ppn_true" />
                        <label for="is_ppn_true" class="ml-2">
                            Iya
                        </label>
                    </div>

                    <div class="flex items-center">
                        <p-radioButton name="is_ppn" [value]="false" [(ngModel)]="is_ppn" inputId="is_ppn_false" />
                        <label for="is_ppn_false" class="ml-2">
                            Tidak
                        </label>
                    </div>
                </div>
            </div>

            <!-- Barang Include PPn -->
            <div class="flex w-full">
                <div class="w-4/12">
                    <label>
                        Barang Include PPn?
                    </label>
                </div>
                <div class="w-8/12 flex flex-row gap-3">
                    <div class="flex items-center">
                        <p-radioButton name="is_item_include_ppn" [value]="true" [(ngModel)]="is_item_include_ppn"
                            inputId="is_item_include_ppn_true" />
                        <label for="is_item_include_ppn_true" class="ml-2">
                            Iya
                        </label>
                    </div>

                    <div class="flex items-center">
                        <p-radioButton name="is_item_include_ppn" [value]="false" [(ngModel)]="is_item_include_ppn"
                            inputId="is_item_include_ppn_false" />
                        <label for="is_item_include_ppn_false" class="ml-2">
                            Tidak
                        </label>
                    </div>
                </div>
            </div>

            <!-- Update Harga Order -->
            <div class="flex w-full">
                <div class="w-4/12">
                    <label>
                        Update Harga Order?
                    </label>
                </div>
                <div class="w-8/12 flex flex-row gap-3">
                    <div class="flex items-center">
                        <p-radioButton name="is_update_harga_order_false" [value]="true"
                            [(ngModel)]="is_update_harga_order" inputId="is_update_harga_order_true" />
                        <label for="is_update_harga_order_true" class="ml-2">
                            Iya
                        </label>
                    </div>

                    <div class="flex items-center">
                        <p-radioButton name="is_update_harga_order_false" [value]="false"
                            [(ngModel)]="is_update_harga_order" inputId="is_update_harga_order_false" />
                        <label for="is_update_harga_order_false" class="ml-2">
                            Tidak
                        </label>
                    </div>
                </div>
            </div>

            <!-- Keterangan -->
            <div class="flex w-full">
                <div class="w-4/12">
                    <label for="keterangan">
                        Keterangan
                    </label>
                </div>
                <div class="w-8/12">
                    <textarea #Keterangan rows="5" pInputTextarea class="w-full" [autoResize]="false"></textarea>
                </div>
            </div>
        </div>

        <div class="flex w-4/12">
            <div class="grid w-full">
                <app-custom-form #CustomFormFooter [props]="FormInputFooter"></app-custom-form>
            </div>
        </div>
    </div>

    <app-form-dialog #FormDialog [props]="FormInputDetail" (onSubmitForm)="handleSubmitFormDetail($event)"
        (onCloseDialog)="handleCloseFormDetail($event)">
        <div class="grid w-full mt-5 pt-3 border-t border-b-0 border-x-0 border-dashed border-gray-300">
            <p class="text-sm text-gray-700 font-medium mb-2">
                Stok & Omset per Cabang
            </p>

            <app-grid [props]="GridStokDanOmsetProps">
            </app-grid>
        </div>
    </app-form-dialog>
</app-dashboard>