<div id="printPenerimaanDenganPo" class="grid p-5 gap-0">
    <div class="flex flex-col w-full p-3 border border-solid border-gray-500 gap-0 mb-0">
        <p class="text-lg font-semibold text-center">
            NOTA RETUR
        </p>
        <p class="text-base text-center">
            Nomor {{ Data.nomor_penerimaan }}
        </p>

        <div class="flex w-full justify-between">
            <p class="text-sm text-center">
                Atas Faktur Pajak Nomor : {{ Data.no_seri }}
            </p>

            <p class="text-sm text-center">
                Tanggal : {{ Data.tanggal_faktur_pajak }}
            </p>
        </div>
    </div>

    <!-- Supplier -->
    <div class="flex flex-col p-3 border border-solid border-gray-500 gap-3">
        <p class="text-xs text-gray-700">
            PEMBELIAN BKP/PENERIMA JKP
        </p>

        <!-- NAMA SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-2/12">
                <p class="text-xs text-gray-700">
                    Nama
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.nama_supplier }}
                </p>
            </div>
        </div>

        <!-- Alamat SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-2/12">
                <p class="text-xs text-gray-700">
                    Alamat
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.alamat }}
                </p>
            </div>
        </div>

        <!-- N.P.W.P SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-2/12">
                <p class="text-xs text-gray-700">
                    N.P.W.P
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ Data.npwp }}
                </p>
            </div>
        </div>
    </div>

    <!-- Lokasi -->
    <div class="flex flex-col p-3 border border-solid border-gray-500 gap-3">
        <p class="text-xs text-gray-700">
            PEMBELIAN BKP/PENERIMA JKP
        </p>

        <!-- NAMA SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-2/12">
                <p class="text-xs text-gray-700">
                    Nama
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ UserData.lokasi.nama_lokasi }}
                </p>
            </div>
        </div>

        <!-- Alamat SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-2/12">
                <p class="text-xs text-gray-700">
                    Alamat
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ UserData.lokasi.alamat }}
                </p>
            </div>
        </div>

        <!-- N.P.W.P SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-2/12">
                <p class="text-xs text-gray-700">
                    N.P.W.P
                </p>
            </div>
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    : {{ UserData.lokasi.npwp }}
                </p>
            </div>
        </div>
    </div>

    <div class="grid p-3 border border-solid border-gray-500">
        <app-print-out-grid [props]="GridProps"></app-print-out-grid>
    </div>

    <!-- Supplier -->
    <div class="flex flex-col p-3 border border-solid border-gray-500 gap-1">
        <!-- NAMA SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    Jumlah Harga BKP yang dikembalikan
                </p>
            </div>
            <div class="w-3/12">
                <p class="text-xs text-gray-700 text-end">
                    {{ Data.total_transaksi }}
                </p>
            </div>
        </div>

        <!-- Alamat SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    Dikurang Potongan Harga
                </p>
            </div>
            <div class="w-3/12">
                <p class="text-xs text-gray-700">

                </p>
            </div>
        </div>

        <!-- N.P.W.P SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    Dasar Pengenaan Pajak yang diminta kembali
                </p>
            </div>
            <div class="w-3/12">
                <p class="text-xs text-gray-700 text-end">
                    {{ Data.dasar_pengenaan_pajak }}
                </p>
            </div>
        </div>

        <!-- N.P.W.P SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    Pajak Tambahan Nilai Yang diminta kembali
                </p>
            </div>
            <div class="w-3/12">
                <p class="text-xs text-gray-700 text-end">
                    {{ Data.ppn }}
                </p>
            </div>
        </div>

        <!-- N.P.W.P SUPPLIER -->
        <div class="flex w-full gap-2">
            <div class="w-9/12">
                <p class="text-xs text-gray-700">
                    Pajak Penjualan Atas Barang Mewah yang diminta kembali
                </p>
            </div>
            <div class="w-3/12">
                <p class="text-xs text-gray-700 text-end">
                    {{ Data.dasar_pengenaan_pajak + Data.ppn }}
                </p>
            </div>
        </div>
    </div>

    <div class="flex w-full justify-end p-3 border border-solid border-gray-500">
        <div class="flex flex-col w-3/12 items-center">
            <p class="text-xs text-gray-700">
                Blora, {{ Data.tanggal_nota }}
            </p>
            <p class="text-xs text-gray-700 mt-20">
                ( {{ UserData.lokasi.nama_lokasi }} )
            </p>
            <p class="text-xs text-gray-700">
                ( PIMPINAN )
            </p>
        </div>
    </div>

    <div class="flex w-full p-3 border border-solid border-gray-500">
        <div class="flex flex-col w-full">
            <p class="text-xs text-gray-700">
                Lembar Ke-1 : Untuk Pengusaha Kena Pajak
            </p>
            <p class="text-xs text-gray-700">
                Lembar Ke-2 : Untuk Pembeli
            </p>
        </div>
    </div>
</div>